{% include "utils/_document-header.html" %}
<div class="workspace__header">

    {% include "utils/header.html" %}

</div>
<div>
    <p class="p">!Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus, recusandae.</p>
    <p class="p__p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus, recusandae.</p>
</div>
<img src="images/finished/start.jpg" alt="">
<!-- <img src="images/finished/pexels-eberhard-grossgasteiger-691668.jpg" alt=""> -->
<img src="images/finished/С11111111нимок.PNG" alt="">


<script src="js/main.min.js"></script>
</body>

</html>